p {
    font-size: 1.5em;
    color: hsl(0, 0%, 24%);
    text-indent: 30px;
}
p:first-child {
    color: deeppink;
}

p:nth-of-type(2n) {
    font-variant: small-caps;
}

p:nth-of-type(2) {
    border: solid indigo 5px;
}

p:last-child {
    text-transform: uppercase;
}