body {
    background-color: antiquewhite;
    font-family: Cambria, Arial, serif;
}
#wanted_raccoon {
    background-color: burlywood;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    display: block;
    width: 80%;
    margin: auto;
    padding: 15px;
    text-align: center;
    border: 2px double black;
}
#wanted_raccoon header {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 40px;
    margin: auto;
    width: 4em;
}
#wanted_raccoon img {
    width: 80%;
}
#reward {
    font-size: 30px;
}
/*Flex*/
.flex-container1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
}
.flex-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
}
figure {
    margin: 0;
}
figcaption {
    background-color: antiquewhite;
    border: 2px solid black;
    position: absolute;
    margin: -207px auto;
    font-size: 20px;
}
img {
    border: 2px solid black;
    width: 200px;
    max-height: 200px;
}
h1 {
    text-align: center;
}
/*TASK 7*/
#figures div {
    display: inline-block;
}
#circle {
    width: 250px;
    height: 250px;
    background-color: lightsalmon;
    border-radius: 50%;
    box-shadow: inset 10px 10px 86px 1px rgba(0,0,0,0.75);
}
#triangle {
    width: 0;
    border-style: solid;
    border-width: 0 125px 250px 125px;
    border-color: transparent transparent coral transparent;
}
#rhombus {
    width: 120px;
    height: 120px;
    background: darksalmon;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    margin: 0 0 10px 80px;
}